{{> nav }}
<main class="profile-container">

    {{!-- Header --}}
    <h2 class="work-feature-block-header row">My Profile</h2>
    <div class="work-feature-block row flex-container align-center">

        {{!-- Profile Picture --}}
        <div columns small-6>
            <div>
                <img class="work-feature-block-image" src="https://placehold.it/200x200" />
            </div>
        </div>

        {{!-- Profile Info Pulled From User Table In DB --}}
        <div columns small-6 class="work-feature-block-profile">
            <div row>
                <h3>Profile Info</h3>
                <ul>Full Name: {{ fullName }}</ul>
                <ul>Email: {{ email }}</ul>
                <ul>Age: {{ age }}</ul>
                <ul>Days Active: {{ daysActive }}</ul>
            </div>
        </div>
    </div>

    <h2 class="work-feature-block-header row">My Productivity</h2>
    <div class="work-feature-block row flex-container align-center">
        {{!-- Profile Info Pulled From User Table In DB --}}
        <div columns small-6 class="work-feature-block-profile">
            <div row>
                <h3>Work</h3>
                <ul>{{ work }}</ul>
            </div>
            <div row>
                <h3>Sleep</h3>
                <ul>{{ sleep }}</ul>
            </div>
            <div row>
                <h3>Play</h3>
                <ul>{{ play }}</ul>
            </div>
        </div>
    </div>
</main>

{{!-- Footer With Logout --}}
<footer class="footer">
    <div class="clearfix">
        <a class="hollow button alert" href="/logout" id="logout">LOGOUT <i class="fas fa-sign-out-alt"></i></a>
    </div>
</footer>

<script src="./assets/js/profile.js"></script>